*{
  padding:0;
  margin: 0;
}
#container{
  height: 50px;
  width: 150%;
  display: inline;
}
h1{
  text-align:center;
  color: black;
 font: size 3em;;
 padding-top : 200px;
}
table {
  height : 300px;
  width  : 450px;
  margin : 50px 35% auto 35%;
  border-collapse: collapse;
  border:0;
 

}

table tr{
  border-bottom: 5px solid blue;
}
td{
  padding: 13px;
  border-right: 5px solid blue; 
}

#row3 {
  border-bottom: 0px;
  
}

.col1 {
  border-right:0;
}



